@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import '../components/books/styles';
@import './variables';
@import '../components/my_library/library';
body {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
}
